.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
    max-width: 1200px;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 80px;
    column-gap: 30px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

/* Responsive styles */
@media (max-width: 1280px) {
    .shopcategory-indexSort,
    .shopcategory-products {
        margin: 0px 100px;
    }
    
    .shopcategory-products {
        margin-top: 20px;
    }
}

@media (max-width: 1024px) {
    .shopcategory-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .shopcategory-indexSort,
    .shopcategory-products {
        margin: 0px 50px;
    }
    
    .shopcategory-products {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
    }
    
    .shopcategory-indexSort {
        flex-direction: column;
        gap: 10px;
    }
    
    .shopcategory-loadmore {
        margin: 100px auto;
    }
}

@media (max-width: 500px) {
    .shopcategory-indexSort,
    .shopcategory-products {
        margin: 0px 20px;
    }
    
    .shopcategory-products {
        grid-template-columns: 1fr;
    }
    
    .shopcategory-loadmore {
        width: 200px;
        height: 60px;
        font-size: 16px;
        margin: 80px auto;
    }
}